<h3>Computer's name: <b><%= @computer.name %></b></h3>
<p>Graphics Card: <%= @computer.graphics_card %></p>
<p>Processor: <%= @computer.processor %></p>
<p>Processor speed in Ghz: <%= @computer.processor_speed %></p>

<form method="post" action="/computers/<%=@computer.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete computer">
</form>
<form method="get" action="/computer/<%=@computer.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="edit">
  <input type="submit" value="Edit Computer">
</form>
