<% if logged_in? %>
  <h1> Welcome, <%= current_user.username %></h1>
<% else %>
  <h1> Welcome, guest </h1>
<%end%>

<h4> A list of all Computers </h4>

<% @computers.each do |comp| %>
  <div>
    <h4>The Owner: <%= comp.user.username %>.  Projects name: <%= comp.name %></b></h4>
    <p>Graphics Card: <b><%= comp.graphics_card %></b></p>
    <p>Processor brand: <b><%= comp.processor %></b></p>
    <p><b><%= comp.processor_speed %></b> ghz</p>
  </div>
<% end %>
