<p> Here is your Computer or computers, <%= @user.username %> </p>
<% @user.computer.each do |com| %>
  <div>
    <%= com.name %>
    <%= com.graphics_card %>
    <%= com.processor %>
    <%= com.processor_speed %>
  </div>
<% end %>
