<p> Here is your Computer or computers</p>
<% @user.computer.each do |com| %>
  <div>
    <%= com.name %>
    <%= com.graphics_card %>
    <%= com.processor %>
    <%= com.processor_speed %>
    <a href="/computer/<%=com.id%>/edit">Edit this computer</a>
  </div>
<% end %>
